<body class="hidden">

  <main>


  <div class="cd-index cd-main-content">

  <!-- Page Content -->
  <div id="page-content" class="" data-bgcolor="#eee">

        <!-- Background Lines -->
        <div class="bg-lines hidden">
            <svg>
          <line x1="20%" y1="100%" x2="80%" y2="0"/>
        <line x1="80%" y1="100%" x2="20%" y2="0"/>
        </svg>
        </div>
        <!--/Background Lines -->



        <!-- Header -->
        <header class="scroll-hide">
            <div id="header-container">

            <!-- Logo -->
            <div id="logo">
                <a class="ajax-link" data-type="page-transition" href="index.html">
                    <img class="black-logo" src="images/logo.png" alt="MosDev Logo">
                    <img class="white-logo" src="images/logo-white.png" alt="MosDev Logo">
                </a>
            </div>
            <!--/Logo -->

            <div class="menu-info">Featured Projects</div>

            <!-- Menu Burger -->
            <div id="burger-wrapper">
              <div id="burger-circle"></div>
                <div id="menu-burger">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <!--/Menu Burger -->

            </div>
        </header>
        <!--/Header -->


        <!-- Menu Overlay -->
        <div id="menu-overlay">

            <div id="close-menu"></div>

            <div class="outer">
                <div class="inner">

                    <nav>
                        <ul class="main-menu">
                            <li class="mp"><a class="ajax-link menu-link" data-type="page-transition" href="home"><span></span>Home</a>
                            </li>
                            <li class="mp has-sub"><a href="portfolio"><span></span>Portfolio</a>
                            </li>
                            <li class="mp"><a class="ajax-link menu-link" data-type="page-transition" href="contact"><span></span>Contact</a></li>
                        </ul>
                    </nav>


                </div>
            </div>

        </div>
        <!-- Menu Overlay -->
